<hello name="{{ name }}"></hello>
<menu-component></menu-component>
<p>Start editing to see some magic happen :)</p>
<h1>It's me Mario!</h1>
<h2>{{ title }}</h2>

<!-- data biding = associação de dados -->
<!-- Interpolação -->
<my-button buttonTextDinamic="{{ button1Label }}"></my-button>
<my-button buttonTextDinamic="Um texto"></my-button>

<!-- Property Binding (Recomendado pela DOC) -->
<my-button [buttonTextDinamic]="button2Label"></my-button>
<my-button [buttonTextDinamic]="'button2Label'"></my-button>

<!-- Two way data binding -->

<app-entry-data></app-entry-data>
